html {
  scroll-behavior: smooth;
}

body {

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 22px;
  color: #333;

  line-height: 1.8;
  margin: 0;
  padding: 0;
}
.container {
  width: 90%;
  margin: 0 auto;
}

/* Шапка сайта */
.site-header {
  background-color: #ffffff;
  border-bottom: 1px solid #e5e5e5;
  position: fixed;
  height: 80px;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.header-inner {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.logo img {
  height: 60px;
}
/* Иконка бутерброд всегда видна в верхнем правом углу */
.hamburger {
  position: absolute;
  top: 25%;
  right: 0px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  color: #333;
  display: block;
}
/* Меню по умолчанию скрыто */
.site-nav {
  display: none;
  position: absolute;
  top: 100%; /* сразу под шапкой */
  right: 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  z-index: 1001;
  width: 200px;
  font-size: 15px;
  border-radius: 10px;
}
/* Показать меню при клике */
.site-nav.open {
  display: block;
}
.site-nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0px 0;
}

.site-nav a {
  display: block;
  width: 100%;
  padding: 12px 0;    
  text-align: center; 
  box-sizing: border-box;
  text-decoration: none;
  color: #000000;    
}
.site-nav a:hover {
  background-color: antiquewhite;
  color: #ff8300;
}
.site-nav a.active {
  background-color: antiquewhite;
  color: #ff8300;
}

/* Основное содержимое */
.main-content {
  padding-top: 100px; /* с учётом фиксированной шапки */
  padding-bottom: 60px;
  background-color: #fff;
}
.company h1 {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-size: 50px;
  margin-bottom: 20px;
  color: #222;
}
.company p {
  margin-bottom: 15px;
}

.company-details {
  display: flex;
  gap: 40px;
  margin: 30px 0;
}
.details-item {
  color:white;
  background-color: #ff8300;
  padding: 15px 20px;
  border-radius: 10px;
  flex: 1;
}
.company h2 {
  font-size: 28px;
  margin-bottom: 15px;
}
.company ul {
  margin-left: 60px;
}

.to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #ff8300;
  color: #fff;
  text-decoration: none;   
  border-radius: 50%;      
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  transition: background-color 0.3s;
  cursor: pointer;
  border: 3px solid #ff8300;
  
}
.to-top:hover {
  border: 3px solid #ff8300;
  background-color: #ffffff;
  color: #ff8300 ;
}

.to-top__text {
  position: relative;
  top: -2px;  /* смещение текста вверх */
}

/* Подвал сайта */
.site-footer {
  background-color: #ff8300;
  padding: 10px 0;
}
.footer-inner p {
  text-align: center;
  font-size: 20px;
  color: #ffffff;
}

.award-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.award-item {
  display: inline-flex;
  overflow: hidden;          

}

/* левая часть — квадрат */
.award-year {
  font-size: 40px;
  background: #e67e22;
  color: #ffffff;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* правая часть — растягиваемая */
.award-text {
  font-size: 30px;
  background: #f39c12;
  color: #ffffff;
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 800px;
}



