body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}
header {
    background-color: darkred; 
    color: white; 
    padding: 20px;
    text-align: center; 
}

main {
    background-color: #f0f0f0; 
    padding: 30px;
    margin: 20px;
    border-radius: 8px; 
}

footer {
    background-color: darkred; 
    color: white; 
    padding: 15px;
    text-align: center; 
}
a {
    color: #ff6600;
    text-decoration: none;
}

a:link {
    color: darkred;
    text-decoration: none;
}

a:visited {
    color: #ff6600;
    text-decoration: none;
}

a:hover {
    color: #ff0000;
    text-decoration: underline;
    text-shadow: 2px 2px 5px #ff6600
}

a:active {
    color: black;
    opacity: 0.3;
}