body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}
header {
    background-color: darkred; 
    color: white; 
    padding: 20px;
    text-align: center; 
}

main {
    background-color: #f0f0f0; 
    padding: 30px;
    margin: 20px 20px 66px;
    border-radius: 8px; 
}

footer {
    background-color: darkred; 
    color: white; 
    padding: 15px;
    text-align: center; 
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}
a {
    color: #ff6600;
    text-decoration: none;
    transition: 1s 2s;
}

a:link {
    color: darkred;
    text-decoration: none;
}

a:visited {
    color: #ff6600;
    text-decoration: none;
}

a:hover {
    color: #ff0000;
    text-decoration: underline;
    text-shadow: 2px 2px 5px #ff6600;
    transition: 0.3s;
}

a:active {
    color: black;
    opacity: 0.3;
}

div.menu {
    border: 1px solid;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
}
div.menu:hover {
    background-color: #6bf03783;
    box-shadow: 0 0 15px rgb(90, 87, 87);
    transition: 1s;
}
