body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}
header {
    background-color: darkred; /* Тёмно-красный фон */
    color: white; /* Белый цвет текста */
    padding: 20px;
    text-align: center; /* Выравнивание текста по центру */
}

/* Стили для main */
main {
    background-color: #f0f0f0; /* Светлый фон для основного контента */
    padding: 30px;
    margin: 20px;
    border-radius: 8px; /* Скругленные углы */
}

/* Стили для footer */
footer {
    background-color: darkred; /* Тёмный фон */
    color: white; /* Белый текст */
    padding: 15px;
    text-align: center; /* Выравнивание текста по центру */
}